<!DOCTYPE HTML>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Программирование</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block css %}

    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          {% include 'includes/header.html' %}
        </div>
      </header>
      <main>
          {% block content %}

          {% endblock %}
      </main>
      <br>
      <br>

      <div>
      {% include 'includes/enroll.html' %}
      </div>
      <footer class="footer">
        <div class="container">
          {% include 'includes/footer.html' %}
        </div>
      </footer>
    </div>
  </body>
</html>
